body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
}

#add {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#add:hover {
    background-color: #2980b9;
}

.add-cat {
    background-color: #333;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    display: none;
}

.add-cat label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.add-cat input {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.add-cat button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-cat button:hover {
    background-color: #2980b9;
}

.table-container {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

table, th, td {
    border: 1px solid #555;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #444;
    color: #fff;
}

tr:hover {
    background-color: #555;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
    text-decoration: underline;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

table a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

table a:hover {
    color: #2980b9;
    text-decoration: underline;
}
.edit{
    display: block;
}